h1
{
	
	margin-left: 200px;
	color : gold;
	background: maroon;
	padding: 5px;
	width : 550px;
	border-radius: 10px;
	


}
h2{
	margin-left: 200px;
	font-size: 18px;
	padding-left: 5px;
}
h3{
	margin-left: 200px;
	font-size: 12px;
	padding-left: 5px;
}
ul{
	margin-left: 200px;
	font-size: 12px;
}

p{
	
	font-size: 14px;
	color: white;
}
a{
	color: gold;
	
	
}

.sidebar{
	height:100%;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 40px;
	background-color: maroon;
	color: gold;
}

.sidebar div
{
	padding: 8px;
	font-size: 24px;
	display: white
	;

}

.body-text
{
	margin-left: 150px;
	font-size: 18px;

}
body
{
	
	background: repeating-linear-gradient( -45deg, white 0px, beige 5px, white 6px, beige 11px, white 12px);
}
