
h1{
	margin-top: auto;
	color : gold;
	background: maroon;
	padding: 5px;
	width : 550px;
	border-radius: 10px;
	

}

#horizontal{
    height: 50px;
	width: 100%;
	position: auto;
	left: auto;
	top: auto;
	background-color: maroon;
	color: greenyellow;
	padding-left: 10px;
	padding-top: 20px;




}

body{
	margin-top: 60px;
	margin-left: 10px;
}

