
html, body {
    padding:  0px;
    margin: 0px;
} 
html{
    background:url("https://mpstaud.github.io/images/AlpineLake.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #212129;
    
}
h1{
    margin-top: 0px;
} 
h2{
    font-family: "Geologica", serif;
    
}
p {
    font-family: "Geologica", serif;
}
li {
    font-family: "Geologica", serif;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #212129ea;
}

/*Styling for Naviagtion*/
.navbar{
    margin: 0px;

}
.nav-logo{
    font-family: 'Tilt Prism', serif;
    font-size: 35px;
    float: inline-start;
    color: white;
    text-decoration: none;
    margin-top: 0px;
    padding-right: 5px;
    padding-left: 10px;
    
}
.nav-logo:hover {
    
    color: green;
}

.nav-menu {
    
    list-style: none;

}
.nav-item{
    margin: auto;
    display: inline;

}

.nav-link{
    margin-right: 5px;
    text-decoration: none;
    padding: 5px;
    color: white;

    
}
.nav-link:hover {
    color: green;
    border-radius: 5px;
    padding: 5px;

}

section{
    margin-top: 50px;
}

article{
    margin: 10px;
}
.Newsletter{
    position: fixed;
    left: 0;
    width: 49%;
    background: #212129ea;
    margin-top: 55px;
    margin-left: 5px;
    height: 50%;
    border: 1px solid black;
} 
.news-article {
    margin: 10px;
    
}  
.photos{
    position: fixed;
    right: 0;
    width: 49%;
    background-color: #212129ea;
    margin-top: 55px;
    margin-right: 5px;
    height:50%;
    border: 1px solid black;
    

}




