
html, body {
    padding:  0px;
    margin: 0px;
    background-color: white;
}
/*Set Font family to Geologica*/
h2, p, li, h1{
    font-family: "Geologica", serif;
    color: black;
    
}

header {
    position: fixed;
    top: 0px;
    left: 0;
    height: 50px;
    width: 100%;
    background: white;
}

/*Styling for Naviagtion*/
.navbar{
    margin: 0 auto;

}
.navbar img{
    display: block;
    position: fixed;
    top:  -5px;
    left: 0px;
    
    width: 50px;
    height: 50px;
    
}
.navbar ul {
    margin: 10px;
    
    float: left;
    
    
    list-style: none;

}
.navbar li {
    margin: 0px;
    display: inline;

}
/*This is the styling for the navigation links*/
.navbar a{
    margin-right: 5px;
    text-decoration: none;
    padding: 5px;
    color: black;

    
}
/*Changes the color when user hovers over the links with their cursor*/
.navbar a:hover {
    color: #C41E3A;
    border-radius: 5px;
    padding: 5px;

}


.home, .cv {
    margin: 55px;
}
.cv p{
    line-height: 0.5;
    
}
.xp {
    list-style: none;
    display: block;

}
.xp li{
    line-height: 1;
    
}

.xp ul {
    list-style: none;
}
.cv h3{
    font-family: "Geologica", serif;
    font-size: 16px;
}






